@import "https://api.fontshare.com/v2/css?f[]=satoshi@500,700&display=swap";
@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme static {
  --font-sans: "Satoshi", sans-serif;
}

/* Root variables */
:root {
  --border-color: #dedede;
  --border-color-light: #f6f6f6;
}

.section-b {
  border-bottom: 1px solid var(--border-color);
}

.section-b-dashed {
  border-bottom: 2px dashed var(--border-color);
}

.section-lr {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.section-l {
  border-left: 1px solid var(--border-color);
}

.section-r {
  border-right: 1px solid var(--border-color);
}

.color-bw-over-color {
  @apply filter grayscale hover:filter-none transition duration-300;
}

.main-bg {
  background-color: #f4f2ee;
}

.waves-bg {
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    /* Adjust the alpha value (0.5) to change the intensity */
      url("/images/waves-bg.jpg");
  /* background-image: url('/images/waves-bg.jpg'); */
  background-size: cover;
  background-position: top right;
  /* center; */
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .waves-bg {
    background:
      linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
      url("/images/waves-bg.jpg");
    background-size: cover;
    background-position: center;
    /* center; */
    background-repeat: no-repeat;
  }
}

@media (min-width: 640px) {
  .np-bg {
    background:
      /* linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), */
      /* Adjust the alpha value (0.5) to change the intensity */ url("/images/np-portrait.png");
    /* background-image: url('/images/waves-bg.jpg'); */
    background-size: contain;
    background-position: right 10% bottom;
    /* center; */
    background-repeat: no-repeat;
  }
}

/* Section Number */
.section-number {
  text-align: center;

  letter-spacing: -0.3px;
  pointer-events: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  font-family:
    /* IBM Plex Mono, */ monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  display: flex;

  /* border-bottom: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f; */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
}
