@import "tailwindcss";
@import "@nuxt/ui-pro";
@import "https://api.fontshare.com/v2/css?f[]=satoshi@500,700&display=swap";

@theme static {
  --font-sans: "Satoshi", sans-serif;
}

/* Root variables */
:root {
  --border-color: #dedede;
  --border-color-light: #f6f6f6;
}

.section-b {
  border-bottom: 1px solid var(--border-color);
}

.section-lr {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.waves-bg {
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    /* Adjust the alpha value (0.5) to change the intensity */
      url("/images/waves-bg.jpg");
  /* background-image: url('/images/waves-bg.jpg'); */
  background-size: cover;
  background-position: top right;
  /* center; */
  background-repeat: no-repeat;
}
