@import "tailwindcss";

@import "@nuxt/ui-pro";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

/* Root variables */
:root {
  --border-color: #dedede;
  --border-color-light: #f6f6f6;
}

.section-b {
  border-bottom: 1px solid var(--border-color);
}
  

.section-lr {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
  
